
<h2 class="display-6 text-center">If you want to create a transaction create a new tranaction</h2>
<a href="<%= new_transaction_path %>" class="btn btn-primary btn-lg d-flex justify-content-center" role="button" aria-pressed="true">New transaction</a>